<div class="row edit-profile-wrapper">
  
  <div class="col-sm-2 left-col">
    <div class="list-group">
      <%= link_to "Edit Profile",   "#",
                                    class: "list-group-item list-group-item-action" %>
      <%= link_to "Home",           root_path,
                                    class: "list-group-item list-group-item-action" %>
      <%= link_to "Log out",        destroy_user_session_path,
                                    method: :delete,
                                    class: "list-group-item list-group-item-action" %>
      <%= link_to "Delete account", user_path(@user),
                                    method: :delete,
                                    data: { confirm:     "Are you sure?",
                                            title:       "Delete account", 
                                            verify:      "#{@user.name}",
                                            verify_text: "Please type in the your name.(#{@user.name})"},
                                    class: "list-group-item list-group-item-action" %>
    </div>
  </div>
  
  <div class="col-sm-9 right-col ml-auto">
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'devise/shared/devisemes' %>
      
      <div class="row username-img">
        <div class="col-3 text-sm-right">
            <%= image_tag avatar_url(@user), width: '78', height: '78', class: "round-img" %>
        </div>
        <div class="col-8 text-center">
            <p class="username"><strong><%= @user.name %></strong></p>
        </div>
      </div>
      
      <div class="form-group row d-flex justify-content-center">
        <%= f.label :name, class: "col-sm-3 col-12 col-form-label text-sm-right font-weight-bold" %>
        <%= f.text_field :name, autofocus: true, class:"form-control col-sm-8 col-11" %>
      </div>
      <div class="form-group row d-flex justify-content-center">
        <%= f.label :email, class: "col-sm-3 col-12 col-form-label text-sm-right font-weight-bold" %>
        <%= f.email_field :email, autocomplete: "email", class: "form-control col-sm-8 col-11" %>
      </div>
      <div class="form-group row d-flex justify-content-center">
        <%= f.label :website, class: "col-sm-3 col-12 col-form-label text-sm-right font-weight-bold" %>
        <%= f.text_field :website, class:"form-control col-sm-8 col-11" %>
      </div>
      <div class="form-group row d-flex justify-content-center">
        <%= f.label :bio, class: "col-sm-3 col-12 col-form-label text-sm-right font-weight-bold" %>
        <%= f.text_field :bio, class:"form-control col-sm-8 col-11" %>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <i class="ml-sm-5 ml-2">* (You can leave blank if you don't want to change password.)</i><br/>
      </div>
      <div class="form-group row d-flex justify-content-center">
        <%= f.label :password, class: "col-sm-3 col-12 col-form-label text-sm-right font-weight-bold" %>
        <%= f.password_field :password, autofocus: false, class: "form-control col-sm-8 col-11"%>
      </div>
      <div class="form-group row d-flex justify-content-center">
        <%= f.label :password_confirmation, class: "col-sm-3 col-12 col-form-label text-sm-right font-weight-bold" %>
        <%= f.password_field :password_confirmation, autofocus: false, class: "form-control col-sm-8 col-11" %>
      </div>
      <div class="form-group row mt-5">
        <div class="col-sm-3 col-12"></div>
        <div class="col-sm-8 col-12 d-flex justify-content-center pl-0">
          <%= f.submit "Update", class: "btn btn-dark" %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>