<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 landing-left d-flex align-items-center">
      <div class="introduce mt-5 w-100 h-100">
        <h1 class="text-center">SAMPLE SNS</h1>
        <div class="discription">

          <strong><p>実装した主な機能</p></strong>
          <li>ユーザー登録機能</li>
          <li>認証機能(Twitterによる認証も可能)</li>
          <li>記事投稿削除機能</li>
          <li>投稿記事へのComment,Like,Bookmark機能</li>
          <li>写真アップロード機能(APIを使用)</li>
          <li>Ajaxによる非同期通信(Comment,Like,Bookmark)</li>
          <strong><p>開発のポイント</p></strong>
          <li>RSpecを用いた単体テスト統合テスト</li>
          <li>Git GitHubを用いた開発 (pull requestの作成等チーム開発を想定した開発、
          milestone、issueを取り入れたタスク管理等)</li>
          <li>CircleCIを導入(GitHubと連携させブランチの保護設定を行う。
          testがパスしなければmasterブランチにmergeできない設定。
          今後は自動でデプロイまでできるような環境を構築する予定。)</li>

          <strong><p>今後の実装予定機能</p></strong>
          <li>フォロー機能</li>
          <li>検索機能の追加</li>
          <li>CircleCIによる本番環境への自動デプロイ</li>
      </div>
   </div>
   </div>
    <div class="col-md-6 col-12 landing-right text-center d-flex align-items-center">
      <div class="w-100 h-100 mt-5">
        <div class="form-login box">

          <h2 class="my-3">Sign up</h2>
          <h5 class="light-color"><strong>Sign up to see photos <br> from your friends.</strong></h5>

          <hr>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <%= render 'devise/shared/devisemes' %>

            <div class="form-group">
              <%= f.text_field :name, autofocus: true, placeholder: "Your name", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-dark" %>
            </div>
          <% end %>
          <p class="light-color">By signinig up, you agree to our <br><strong>Term &amp; Privacy Policy.</strong></p>
        </div>
        <div class="redirect-links box">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
