<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <%= link_to "SAMPLE SNS", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= form_tag search_users_path, method: :get, class: "form-inline my-2 my-lg-0 ml-md-auto",
        id: "users-search", remote: true do %>
        <%= text_field_tag :term, params[:term], class:"form-control text-center mr-sm-2 common-btn",
          placeholder: "Search", autocomplete: "off" %>
        <div id="users-result"></div>
      <% end %>
      <ul class="navbar-nav ml-md-auto ml-auto">
        <li class="nav-item">
          <%= link_to users_path, class: "nav-link" do %>
            <div class="navbar-icon text-center"><i class="fas fa-users"></i></div>
            <div class="fa-text text-center">Users</div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#", class: "nav-link", data: {toggle: "modal", target: "#notification"} do %>
            <div class="navbar-icon text-center"><i class="far fa-bell"></i></div>
            <div class="fa-text text-center">Notification</div>
          <% end %> 
        </li>
        <li class="nav-item">
          <%= link_to "#", class: "nav-link", data: {toggle: "modal", target: "#menu"} do %>
            <div class="navbar-icon text-center"><i class="far fa-compass"></i></div>
            <div class="fa-text text-center">Menu</div>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="notificationLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content ml-auto">
          <div class="modal-header">
            <h5 class="modal-title" id="notificationLabel">Notification</h5>
          </div>
          <div class="modal-body">
            <p>Notification is not exist.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-labelledby="menuLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content ml-auto">
          <div class="modal-header">
            <h5 class="modal-title" id="notificationLabel">Menu</h5>
          </div>
            <div class="list-group">
              <%= link_to "Profile page", user_path(current_user),
                class: "list-group-item list-group-item-action" %>
              <%= link_to "Edit profile", edit_user_registration_path,
                class: "list-group-item list-group-item-action" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>