<% @posts.each do |post| %>
  <div class="card mt-3 post">
    <div class="card-header d-flex align-items-center ">
      <%= link_to user_path(post.user), class: "no-text-decoration" do %>
        <%= image_tag avatar_url(post.user), class: "post-author-icon" %>
      <% end %>
      <%= link_to user_path(post.user), class: "normal-color no-text-decoration",
      title: post.user.name do %>
        <strong><%= post.user.name %></strong>
      <% end %>
      <% if post.is_belongs_to? current_user %>
        <%= link_to post_path(post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
          <i class="fa fa-trash-alt" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <%= link_to post_path(post) do %>
        <%= render 'photos', {post: post}  %>
      <% end %>
      <div class="row actions">
        <div id="like-icon-post-<%= post.id.to_s %>">
          <%= render 'likes/like_icon', {is_liked: post.is_liked(current_user), post: post} %>
        </div>
        <a href="#" class="core-sprite comment hide-text">Comment</a>
        <div id="bookmark-icon-post-<%= post.id.to_s %>", class="ml-auto">
          <%= render 'bookmark_icon', {is_bookmarked: @is_bookmarked, post: post} %>
        </div>
      </div>
      <div id="like-text-post-<%= post.id.to_s %>">
        <%= render "likes/like_text.html.erb", {likes: post.likes} %>
      </div>
      <div>
        <span><strong><%= post.user.name %></strong></span>
        <span><%= post.content %></span>
      </div>
      <div id="comment-post-<%= post.id.to_s %>">
        <%= render 'comment_list', {post: post} %>
      </div>
      <%= link_to time_ago_in_words(post.created_at).upcase + " AGO",post_path(post),
      class: "light-color post-time no-text-decoration" %>
      <hr>
      <div class="row actions" id="comment-form-post-<%= post.id.to_s %>">
        <%= render 'comment_form', {post: post, comment: @comment} %>
      </div>
    </div>
  </div>
<% end %>