<div class="d-flex flex-column align-items-center mt-3">
  <div class="row post box col-xl-10 col-lg-11 col-xs-12">
    <div class="col-lg-8 col-md-7 px-0 d-flex post-show-img">
      <div class="align-self-center">
        <%= render 'photos', {post: @post} %>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 mt-sm-4 mt-md-0">
      <div class="row px-3 d-flex align-items-center">
        <%= link_to user_path(@post.user), class: "no-text-decoration" do %>
          <% image_tag avatar_url(@post.user), class: "post-author-icon" %>
        <% end %>
        <%= link_to user_path(@post.user), class: "normal-color no-text-decoration d-flex align-center",
        title: @post.user.name do %>
          <strong><%= @post.user.name %></strong>
        <% end %>
        <% if @post.is_belongs_to? current_user %>
          <%= link_to post_path(@post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
            <i class="fa fa-trash-alt" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
      <% if @post.content.present? %>
      <div class="post-content">
        <span><%= @post.content %></span>
      </div>
      <% end %>
      <hr>
      <div class="comment-list py-2">
        <div id="comment-post-<%= @post.id.to_s %>">
          <%= render'comment_list', {post: @post} %>
        </div>
      </div>
      <hr class="mt-0">
      <div class="row actions">
        <div id="like-icon-post-<%= @post.id.to_s %>">
          <%= render 'likes/like_icon', {is_liked: @is_liked, post: @post} %>
        </div>
        <a href="#" class="core-sprite comment hide-text">Comment</a>
        <div id="bookmark-icon-post-<%= @post.id %>" class="ml-auto">
          <%= render 'bookmark_icon', {is_bookmarked: @is_bookmarked, post: @post} %>
        </div>
      </div>
      <div id="like-text-post-<%= @post.id.to_s %>">
        <%= render "likes/like_text.html.erb", {likes: @likes} %>
      </div>
      <div class="light-color post-time"><%= time_ago_in_words(@post.created_at).upcase %> AGO</div>
      <hr>
      <div class="row actions" id="comment-form-post-<%= @post.id.to_s %>">
        <%= render 'comment_form', {post: @post, comment: @comment} %>
      </div>
    </div>
  </div>
</div>